:root{
    --back-color: #A59D95;
    --fnt-color: #232b2b;
}

body{
    padding: 0;
    margin:0;
    height: 100vh;
    width:100vw;
    background-color: var(--back-color);
    color: var(--fnt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fnt-color);
}

.carousel-container {
    height: 80%;
    width: 70%;    
    padding: 0;
    overflow: hidden;
    position: relative;
}

.carousel-top-section{
    height: 100%;
    position: relative;
    width: 100%;
}

.carousel-image-container{
    margin-top:0;
    list-style: none;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
.item{  
    height: 100%;
    min-width: 100%;
}
.img-tag{
    height: 100%;
    min-width: 100%;
    
}       

.carousel-left-btn{
    position: absolute;
    left:1rem;
    top:50%;
    transform: translate(0%,-50%);
}
.carousel-right-btn{
    position: absolute;
    right: 1rem;
    top:50%;
    transform: translate(0%,-50%);
}
.carousel-bottom-section{
   position: absolute;
   bottom: 0px;
   color: white;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.dots-track{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.dot{
    height: 1rem;
    width: 1rem;
    background-color: white;
    border: white solid ;
    border-radius: 50%;
    opacity: 0.5;
}
.active-carousel-dot{
    opacity: 1;
}